<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CuaHangDB" connectionString="data source=LAPTOP-6U06C8PI;initial catalog=CSDL_QuanLyCuaHang_DoAn;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>